<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>Extrato</h1>
        <table>
            <thead>
                <tr>
                    <th>
                        Dia
                    </th>
                    <th>
                        Hospital
                    </th>
                    <th>
                        Valor
                    </th>
                </tr>
            </thead>
            <tbody>
                <% if(shifts.length > 0) {%>
                    <% shifts.forEach(shift => {%>
                        <tr>
                            <td>
                               <%= `${shift.startDate.getDate()}/${shift.startDate.getMonth() + 1}/${shift.startDate.getFullYear()}` %> 
                            </td>
                            <td>
                                Teste
                            </td>
                            <td>
                                <%= `R$ ${shift.value}`%>
                            </td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>

        </table>
    </body>
</html>